{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro Diario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/libro_diario.css' %}">
</head>
<body>
    <div>
        <h1>Libros Diarios</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.fecha.id_for_label }}">Fecha:</label>
                {{ form.fecha }}
            </div>
            <div class="form-group">
                <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                <label for="{{ form.saldoInicialCaja.id_for_label }}">Saldo Inicial Caja:</label>
                {{ form.saldoInicialCaja }}
            </div>
            <div class="form-group">
                <label for="{{ form.saldoInicialBanco.id_for_label }}">Saldo Inicial Banco:</label>
                {{ form.saldoInicialBanco }}
            </div>
            <button type="submit">Crear Libro Diario</button>
        </form>
    </div>

    <div>
        <h2>Lista de Libros Diarios</h2>
        <form method="get">
            <div class="form-group">
                <label for="fecha_inicio">Fecha Inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" value="{{ fecha_inicio }}">
            </div>
            <div class="form-group">
                <label for="fecha_fin">Fecha Fin:</label>
                <input type="date" id="fecha_fin" name="fecha_fin" value="{{ fecha_fin }}">
            </div>
            <div class="form-group">
                <button type="submit">Filtrar</button>
            </div>
        </form>
    </div>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Acciones</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Saldo Inicial Caja</th>
                    <th>Saldo Inicial Banco</th>
                    <th>Ingreso Caja</th>
                    <th>Egreso Caja</th>
                    <th>Ingreso Banco</th>
                    <th>Egreso Banco</th>
                    <th>IVA Ingreso</th>
                    <th>IVA Egreso</th>
                    <th>Saldo Final Caja</th>
                    <th>Saldo Final Banco</th>
                    <th>Ganancia Neta</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for item in libros_con_totales %}
                <tr>
                    <td><a href="{% url 'entrada_diario' item.libro.id %}">Ver libro</a></td>
                    <td>{{ item.libro.fecha|date:"d/m/y" }}</td>
                    <td>{{ item.libro.descripcion }}</td>
                    <td>{{ item.libro.saldoInicialCaja }}</td>
                    <td>{{ item.libro.saldoInicialBanco }}</td>
                    <td>{{ item.total_ingreso_caja }}</td>
                    <td>{{ item.total_egreso_caja }}</td>
                    <td>{{ item.total_ingreso_banco }}</td>
                    <td>{{ item.total_egreso_banco }}</td>
                    <td>{{ item.total_iva_ingreso }}</td>
                    <td>{{ item.total_iva_egreso }}</td>
                    <td>{{ item.saldo_final_caja }}</td>
                    <td>{{ item.saldo_final_banco }}</td>
                    <td>{{ item.ganancia_neta }}</td>
                    <td>
                        <form method="post" action="{% url 'eliminar_libro_diario' item.libro.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirmarEliminacion();">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <footer>
        <p>Desarrollado por <span>Alexis Jara</span> </p>
        <p>Desarrollado por <span>César López</span> </p>
        <p>Desarrollado por <span>César Ramos</span> </p>
        <p>Desarrollado por <span>Marco Chiliguano</span> </p>
        <p>Desarrollado por <span>David Toledo</span> </p>
    </footer>
    <script>
        function confirmarEliminacion() {
            return confirm("¿Estás seguro de que deseas eliminar este libro diario?");
        }
    </script>
</body>
</html>