/* entrada_diario.css */

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 0;
}

#entrada-diario {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
}

form {
    margin-bottom: 1.5em;
}

button {
    background-color: #3498db;
    border: none;
    color: #fff;
    padding: 0.75em 1.5em;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}
.titulo-libro-diario {
    text-align: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
.detalles-libro {
    background: linear-gradient(to bottom, lightblue, white);
}
.nueva-entrada {
    background-color: lightgreen;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, white, lightblue);
    border-image-slice: 1;
    border-radius: 100px;
}
.entradas-registradas {
    /* background-color: lightgreen; */
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, white, lightblue);
    border-image-slice: 1;
    border-radius: 15px; /* Ajusta este valor según tus necesidades */
}
.celda-padding {
    padding:30px;
}